
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* Common Styles: Reusable styles used across multiple components */
.display-flex {
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* Dark 02 */
.text-gray{
    color: #424242;
}

/* Dark 03 */
.text-light-gray{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner's Style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
}

/* Teams Section Style */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;

}

#quick-list{
    font-weight: 500;
}

/* Some Facts Related Style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    width: 240px;
    height: 240px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}
/* Sponsors Related Styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align:center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* Responsive Media Query */

@media screen and (max-width: 576px){
    .navbar ,
    .nav-links ,
    .teams{
        flex-direction: column;
    }

    .team-img-container ,
    .facts-container,
    .sponsor-companies
    {
        grid-template-columns: 1fr;
    }
    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
}


/* Styles For Medium Size Devices */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50 auto;
    }

    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}